extends layout

block content
  h1= title
  div Shaker
  
  - let items = results
  
  div(class="container-fluid")
    div(class="row")
    each item in results
      div(class="col-sm") #{item["shaker_type"]}
        br
        | #{item["shaker_size"]}
        br
        | #{item["shaker_cost"]}
      br
